<div class="container-fluid main_div_style">

  <div class="row">
    
    <div class="col-lg-4 col-md-4"></div>

    <div class="col-lg-4 col-md-4 form_style">

      <h4 class="head_style">Otp Authentication with Firebase</h4><br>

      <form [formGroup]="loginForm">
        
        <input type="text" class="form-control" formControlName="phoneNum" placeholder="Phone Number"
        [(ngModel)] = "phone_num">
        <div *ngIf="f.phoneNum.invalid && f.phoneNum.touched">
          <span  *ngIf="f.phoneNum.errors.required" style="color: red;">Phone number required</span> 
          <span  *ngIf="f.phoneNum.errors.minlength" style="color: red;">Please enter a valid phone number</span> 
        </div><br>
    
        <mat-spinner *ngIf="!recaptcha.innerHTML" [diameter]="40"></mat-spinner>
        <div #recaptcha id="recaptcha-container" [hidden] = "hidden" ></div><br>
        <button class="btn btn-primary" [hidden] = "hidden" (click) = "fn_otp_send()" [disabled] = "phone_num.length <= 13">Send OTP</button><br>
        <div *ngIf = "windowRef.confirmationResult">
          <input type="text" class="form-control field_style" formControlName="userOtp" placeholder="Enter Otp">
            <div *ngIf="f.userOtp.invalid && f.userOtp.touched">
              <span  *ngIf="f.userOtp.errors.required" style="color: red;">OTP required</span> 
              <span  *ngIf="f.userOtp.errors.minlength" style="color: red;">Minimum length is 6</span> 
            </div> 
          <button (click) = "fn_verify_otp()" class="btn btn-primary field_style">Verify</button>
        </div>
      </form>
    </div>

    <div class="col-lg-4 col-md-4"></div>

  </div>

</div>

